<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		 <% flash.each do |name,msg| %>
    	   <div class='alert alert-<%="#{name}" %>'>
    	   	 <a href="#", class="close" data-dismis="alert">&#215;</a>
    	   	 <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    		</div>
 		 <% end %>
 	</div>
 </div>